.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  font-size: 4rem;
  color: #006bff;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width: 50px;
    margin: 0 0.5rem 0 0.5rem;
    fill: #006bff;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

@media (max-width: 414px) {
  .email {
    font-size: 2rem;
  }

  .logo {
    width: 35px;
  }
}
