.header {
  position: absolute;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background: transparent;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 2rem;
  list-style: none;
  text-decoration: none;
}

.navItem {
  overflow: hidden;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.navItem:hover {
  color: #c0c5ce;
}

.textLink {
  text-decoration: none;
}

.scrolled {
  position: fixed;
  width: 100%;
  text-decoration: none;
  background-color: #fff;
  animation-name: slideDown;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  color: #006bff;
  box-shadow: 0 2px 5px rgba(9, 25, 90, 0.05), 0 5px 20px rgba(11, 28, 93, 0.2);
  .navItem:hover {
    color: #001085;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translate(0);
  }
}

@media (min-width: 330px) and (max-width: 375px) {
  .header {
    background-color: #fff;
    color: #006bff;
    box-shadow: 0 2px 5px rgba(9, 25, 90, 0.05),
      0 5px 20px rgba(11, 28, 93, 0.2);
    .navBar {
      .navItem {
        font-size: 0.9rem;
        padding: 1rem;
        &:hover {
          border-bottom: 1px solid #006bff;
        }
      }
    }
  }

  .scrolled {
    .navBar {
      margin: 0;
      flex-direction: column;

      .textLink {
        width: 100%;
        text-align: center;
      }

      .navItem {
        font-size: 0.8rem;
        padding: 0.2rem 1rem;
        border-bottom: 1px dotted #c0c5ce;
      }
    }
  }
}

@media (max-width: 330px) {
  .header {
    background-color: #fff;
    color: #006bff;
    box-shadow: 0 2px 5px rgba(9, 25, 90, 0.05),
      0 5px 20px rgba(11, 28, 93, 0.2);
    .navBar {
      .navItem {
        font-size: 0.8rem;
        padding: 0.9rem;
        &:hover {
          border-bottom: 1px solid #006bff;
        }
      }
    }
  }
}
